<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    design grafico é minha paixão
    <a href="index.html">Voltar</a>

    <h2>jogo mais tuff</h2>
    <p>o jogo mais tuff de todos</p>
    <ul>
        <li>titulo: {{titulo}} </li>
        <li>ano: {{ano}}</li>
        <li>genero: {{genero}}</li>
        <li>O jogo {{titulo}} tem {{2026-ano}}</li>
    </ul>
</body>
</html>