<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deep Love</title>

<style>

 body {
  background-color: rgb(238, 154, 255);
}

h1 {
  color: rgb(255, 227, 68);
  margin-left: 40px;
  text-align: center;
  font-size: 50px;
  font-family: Comic Sans MS
}    

h3 {
    text-align: center;
    font-size: 35px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-align: center;    
    font-size: 30px;
}

</style>
</head>
<body>
    <h1>Bem vindo ao Deep Love!</h1>
    <h3>Seu site favorito de yaoi!</h3>

    <img src="https://files.catbox.moe/p25z3d.jpg">

   <p style="text-align:center"><a href="/lista">Leia nossa lista de melhores animes yaoi!</a></p>
</body>
</html>